.ehs-adbridge {
  float:left;
  position:relative;
}

.ehs-adbridge-728x90 {
  width:728px;
  height:90px;
}

.ehs-adbridge-160x600 {
  width:160px;
  height:600px;
}

.ehs-adbridge-468x60 {
  width:468px;
  height:60px;
}

.ehs-adbridge-300x250 {
  width:300px;
  height:250px;
}

.ehs-adbridge a.ehs-adbridge-header {
  display:block;
  clear:both;
  margin:0 0 5px 0;
  font-size:8px;
  line-height:8px;
  font-weight:normal;
  color:#ccc;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:1px;
}

.ehs-adbridge-content {

}

